<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/assets/artists.css"> 
</head>
<body>
    <h1>{{.Name}}</h1>
    <div  class="artists-container">
        <img src="{{.Image}}" alt="{{.Name}}">
        <h2>Members</h2>
        <ul>
            {{range .Members}}
            <li>{{.}}</li> <!-- Display each member -->
            {{else}}
            <li>No members found.</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
